<a href="https://colab.research.google.com/github/CiaranDonegan/coinmetricsapiBTC/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
!pip install coinmetrics.api_client

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: coinmetrics.api_client in /usr/local/lib/python3.7/dist-packages (2022.10.18.7)
Requirement already satisfied: websocket-client<2.0.0,>=1.2.1 in /usr/local/lib/python3.7/dist-packages (from coinmetrics.api_client) (1.4.1)
Requirement already satisfied: python-dateutil<3.0.0,>=2.8.2 in /usr/local/lib/python3.7/dist-packages (from coinmetrics.api_client) (2.8.2)
Requirement already satisfied: typer<0.7.0,>=0.6.1 in /usr/local/lib/python3.7/dist-packages (from coinmetrics.api_client) (0.6.1)
Requirement already satisfied: orjson<4.0.0,>=3.6.0 in /usr/local/lib/python3.7/dist-packages (from coinmetrics.api_client) (3.8.1)
Requirement already satisfied: requests<3.0.0,>=2.24.0 in /usr/local/lib/python3.7/dist-packages (from coinmetrics.api_client) (2.28.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil<3.0.0,>=2.8.2->coinmetrics.api_client) (1.15.0)
Requirement already satisfied: charset-normalizer<3,>=2 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.24.0->coinmetrics.api_client) (2.1.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.24.0->coinmetrics.api_client) (1.24.3)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.24.0->coinmetrics.api_client) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.24.0->coinmetrics.api_client) (2022.9.24)
Requirement already satisfied: click<9.0.0,>=7.1.1 in /usr/local/lib/python3.7/dist-packages (from typer<0.7.0,>=0.6.1->coinmetrics.api_client) (7.1.2)

In [15]:
from coinmetrics.api_client import CoinMetricsClient

client = CoinMetricsClient()

print(client)

<coinmetrics.api_client.CoinMetricsClient object at 0x7fa41d155610>

In [16]:
metrics = client.get_asset_metrics(assets = 'btc',
                                  metrics = [
                                      'PriceUSD',
                                      'AdrActCnt',
                                      'CapMrktCurUSD',
                                      'CapMVRVCur',
                                      'NVTAdj',
                                      'VelCur1yr',
                                      'TxCnt',
                                      'TxTfrValAdjUSD',
                                      'SplyCur',
                                      'HashRate'
                                  ],
                                  start_time='2018-01-01',
                                  end_time='2022-01-01',
                                  frequency='1d')

In [17]:
print(metrics)

<coinmetrics._data_collection.DataCollection object at 0x7fa41d0fe410>

In [18]:
import pandas

metrics = pandas.DataFrame(metrics)

metrics.head()

  asset  ...         VelCur1yr
0   btc  ...  37.9844065049478
1   btc  ...  38.0019339244505
2   btc  ...   37.983199878225
3   btc  ...  37.9655404773754
4   btc  ...  37.9288752436187

[5 rows x 12 columns]

In [19]:
metrics['time'] = pandas.to_datetime(metrics['time'])

In [21]:
metrics = metrics.set_index('time')

metrics.head()

                          asset  ...         VelCur1yr
time                             ...
2018-01-01 00:00:00+00:00   btc  ...  37.9844065049478
2018-01-02 00:00:00+00:00   btc  ...  38.0019339244505
2018-01-03 00:00:00+00:00   btc  ...   37.983199878225
2018-01-04 00:00:00+00:00   btc  ...  37.9655404773754
2018-01-05 00:00:00+00:00   btc  ...  37.9288752436187

[5 rows x 11 columns]

In [22]:
metrics.to_csv('metrics.csv')

In [23]:
metrics.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1462 entries, 2018-01-01 00:00:00+00:00 to 2022-01-01 00:00:00+00:00
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   asset           1462 non-null   object
 1   AdrActCnt       1462 non-null   object
 2   CapMVRVCur      1462 non-null   object
 3   CapMrktCurUSD   1462 non-null   object
 4   HashRate        1462 non-null   object
 5   NVTAdj          1462 non-null   object
 6   PriceUSD        1462 non-null   object
 7   SplyCur         1462 non-null   object
 8   TxCnt           1462 non-null   object
 9   TxTfrValAdjUSD  1462 non-null   object
 10  VelCur1yr       1462 non-null   object
dtypes: object(11)
memory usage: 137.1+ KB

In [26]:
metrics = metrics[[
                   'PriceUSD',
                   'CapMrktCurUSD',
                   'CapMVRCur',
                   'NVTAdj',
                   'VelCur1yr',
                   'AdrActCnt',
                   'TxCnt',
                   'TxTfrValAdjUS',
]]

KeyError: ignored